* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, Helvetica;
    width: 100%;
    height: 100%;
}

ul, ol {
    list-style-type: none;
}

#app {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    background: #eee;
    font-weight: bold;
    border-bottom: 2px solid blue;
}

.room-module {
    position: relative;
}

.subhead {
    line-height: 20px; padding: 10px;
    background: #ddd;
}

.editor-nav {
    overflow: hidden;
    list-style: none;
}

.editor-nav .trigger {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.editor-nav .trigger.active {
    background: #666;
    color: #fefefe;
}

.user-list {
    width: 10%;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.editors {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
    width: 40%;
    background: #fef;
    height: 100%;
}

.editors .editor {
    display: none;
}

.editors .editor.active {
    display: block;
}

.preview-pane {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
}

.user-list .user-row {
    padding: 5px 10px;
}

.user-list .user-row.active:after {
    content: "*";
}
