<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/lib/codemirror.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <script src="/js/lib/codemirror.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/lib/jquery-2.1.1.js"></script>
        <script src="/js/lib/underscore.js"></script>
        <script src="/js/lib/backbone.js"></script>
        <script src="/js/lib/backbone.marionette.js"></script>
    </head>
    <body>

        <div id="app"></div>

        <div class="mask">
            <div class="overlay"></div>
        </div>

        <script type="text/html" id="app-layout-tpl">
            <header></header>
            <div id="app-body"></div>
            <footer></footer>
        </script>

        <script type="text/html" id="room-layout-tpl">
            <div data-editors class="editors">
                <ul data-editor-nav>
                    <li data-trigger="js">js</li>
                    <li data-trigger="html">html</li>
                    <li data-trigger="css">css</li>
                </ul>
                <div class="editor js" data-editor="js"></div>
                <div class="editor html" data-editor="html"></div>
                <div class="editor css" data-editor="css"></div>
            </div>
            <div data-preview-pane class="preview-pane"></div>
            <div data-user-list-region class="user-list"></div>
        </script>

        <script type="text/html" id="userlist-layout-tpl">
            <ul data-user-list></ul>
        </script>

        <script type="text/html" id="user-name-tpl">
            <li class="<% if(active) { %>active<% } %>"><%= name %></li>
        </script>

        <script src="/js/build/app.js"></script>
    </body>
</html>

