<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/lib/codemirror.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <script src="/js/lib/codemirror.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/lib/jquery-2.1.1.js"></script>
        <script src="/js/lib/underscore.js"></script>
        <script src="/js/lib/backbone.js"></script>
        <script src="/js/lib/backbone.marionette.js"></script>
    </head>
    <body>

        <div id="app"></div>

        <div class="mask">
            <div class="overlay"></div>
        </div>

        <script type="text/html" id="app-layout-tpl">
            <div id="app-body"></div>
            <footer></footer>
        </script>

        <script type="text/html" id="room-layout-tpl">
            <div data-user-list-region class="user-list"></div>
            <div data-editors class="editors">
                <ul data-editor-nav class="subhead editor-nav">
                    <li class="trigger active" data-trigger="js">javascript</li>
                    <li class="trigger" data-trigger="html">html</li>
                    <li class="trigger" data-trigger="css">css</li>
                </ul>
                <div class="editor js" data-editor="js"></div>
                <div class="editor html" data-editor="html"></div>
                <div class="editor css" data-editor="css"></div>
            </div>
            <div data-preview-pane class="preview-pane"></div>
        </script>

        <script type="text/html" id="userlist-layout-tpl">
            <header class="subhead">Seltzer</header>
            <ul data-user-list></ul>
        </script>

        <script type="text/html" id="preview-pane-tpl">
            <div class="subhead">Output <span data-run-btn>Run</span></div>
            <iframe sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts" frameborder="0"></iframe>
        </script>

        <script type="text/html" id="user-name-tpl">
            <li class="user-row <% if(active) { %>active<% } %>"><%= name %></li>
        </script>

        <script type="text/html" id="iframe-doc-tpl">
            <!doctype html>
            <html>
                <head>
                    <style>
                    <%= css %>
                    </style>
                </head>
                <body>
                    <%= html %>
                </body>
            </html>
        </script>

        <script src="/js/build/app.js"></script>
    </body>
</html>

